<div class="sidebar">
    <h1>Jake Franklin</h1>
    <nav>
        <ul>
            {% assign parent = page.parent || post.parent %}
            {% if parent %}
                <li><a href="/{{ parent }}">{{ parent | replace: ".html", "" | replace: ".md", "" | replace: "index", "home" | capitalize}}</a></li>
            {% endif %}
            {% if page.title %}
                <li>› {{ page.title }}</li>
            {% endif %}
        </ul>
    </nav>
    {% if page.image %}
        <img src="{{ page.image }}" alt="Page image for {{ page.title }}"  />
    {% endif %}

    <ul class="contact_info">
        {% for info in site.data.contact_info %}
            {% assign icon = "icon-" | append: info.name | append: ".svg" %}
            <li>
                <span class="icon">{% include {{ icon }} %}</span>
                <a href="{{ info.url }}" alt="{{ info.name }}" title="{{ info.name }}">{{ info.username }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="crypto">
        {% for cry in site.data.crypto %}
            <li>{{ cry.name }}: {{ cry.address }}</li>
        {% endfor %}
    </ul>
</div>
