<div id="tags">
    {% assign tags = '' | split: '' %}
    {% for project in site.data.projects %}
        {% for tag in project.tags %}
            {% assign tagName = tag | split: ' ' %}
            {% assign tags = tags | concat: tagName | uniq %}
        {% endfor %}
    {% endfor %}
    <p id="tag-list">
        {% for tag in tags %}
            {% if page.tag and page.tag == tag %}› {% endif %}<a href="/tags/{{ tag }}">{{ tag }}</a> {% if forloop.last == false %} / {% endif %}
        {% endfor %}
    </p>
</div>
