/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Border-Box sizing
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.round {
    border-radius: 50%;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Fonts
 */
 strong {
    font-family: $bold-font-family;
 }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: $base-font-weight;

    strong {
        font-family: $header-bold-font-family;
    }
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        @include textGlitch("link-glitch", 8, $text-color, $background-color, $highlight-color, $highlight-tertiary-color, 5, 100);
        color: $text-color;
        text-decoration: none;
    }

    @include media-query($on-palm) {
        &:hover {
            @include textGlitchReset();
        }
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Media Boxes
 */
.media {
    @extend %clearfix;
    display: block;
    width: $content-width / 1.5;
    margin-bottom: $spacing-unit;

    @include media-query($on-laptop) {
        width: 90vw;
    }

    img, svg {
        float: left;
        width: 50px;
        margin-right: 15px;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;

        a {
            color: inherit;

        }
    }
}

.main {
    @extend %clearfix;
    height: 100vh;
    width: $content-width-new;
    float: left;
    padding: $spacing-unit;
    position: relative;
    @include media-query($on-laptop) {
        width: 100%;
        height: auto;
        float: none;
        font-size: 22px;
    }
}


.sidebar {
    background-color: $grey-color-light;
    height: 100vh;
    width: $sidebar-width;
    float: left;
    padding: $spacing-unit;

    a:hover {
        @include textGlitch("nav-link-glitch", 10, $text-color, $grey-color-light, $highlight-color, $highlight-tertiary-color, 5, 100);
    }

    @include media-query($on-laptop) {
        font-size: 22px;
        width: 100%;
        height: auto;
        float: none;
        a:hover {
            @include textGlitchReset();
        }
    }

    img {
        width: $sidebar-width / 3;
        margin-bottom: $spacing-unit / 2;
    }

    .contact_info {
        list-style: none;
        margin-left: 0;
    }

    nav {
        font-size: 16px;
        ul {
            margin-left: 0;
            list-style: none;
        }
    }
}