.sidebar {
    background-color: $grey-color-light;
    height: 100vh;
    width: $sidebar-width;
    float: left;
    padding: $spacing-unit;

    a:hover {
        @include textGlitch("nav-link-glitch", 10, $text-color, $grey-color-light, $highlight-color, $highlight-tertiary-color, 5, 100);
    }

    @include media-query($on-laptop) {
        font-size: 22px;
        width: 100%;
        height: auto;
        float: none;
        a:hover {
            @include textGlitchReset();
        }
    }

    img {
        width: $sidebar-width / 3;
        margin-bottom: $spacing-unit / 2;
    }

    .contact_info, .crypto {
        list-style: none;
        margin-left: 0;
    }

    .crypto {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    nav {
        font-size: 16px;
        ul {
            margin-left: 0;
            list-style: none;
        }
    }
}
